/* Section developer */
.section_developer {
  background-color: #f3f1f0;
}
.developer {
  display: flex;
  align-items: start;
  background: #f3f1f0;
}

.developer .box {
  background: #ad362b;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container_buttons_developer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.btn_developer {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #ad362b;
  border: 2px solid #f3f1f0;
  box-shadow: 0.5px 0.5px 0.5px #fff;
}
.btn_developer:hover {
  color: #fff;
  background-color: #9b3329;
  border: 2px solid #f3f1f0;
  text-decoration: none;
}
a:hover {
  color: black;
}
.section_footer_developer {
  background-color: #ad362b;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
}
.footer_developer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  align-items: center;
}
.box {
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .developer {
    flex-direction: column;
  }
  .container_buttons_developer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 40vh;
    height: 100vh;
  }
  h3 {
    font-size: 3vh;
  }
  p {
    font-size: 2vh;
  }
  .btn_developer {
    font-size: 2vh;
  }
}
